body {
  display: flex;
  background: #0e0e0e;
}

#field {
  display: flex;
  flex-direction: column;
  border: 2px solid #000000;
  background: #515a70;
  align-self: center;
  justify-self: center;
  margin: auto;
}

.row {
  display: flex;
}
.row:not(.row:last-of-type) {
  border-bottom: 2px solid #1b1c1f;
}

.box {
  display: flex;
  width: 210px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.box:not(.box:last-of-type) {
  border-right: 2px solid #1b1c1f;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background: #383a40;
  box-sizing: border-box;
  border-right: 1px solid #2e2e2e;
  border-bottom: 1px solid #2e2e2e;
}
.cell:nth-of-type(3n) {
  border-right: none;
}
.cell:nth-of-type(n+7) {
  border-bottom: none;
}