body {
  display: flex;
  background: #0e0e0e;
  display: flex;
}

#field {
  display: flex;
  flex-direction: column;
  border: 2px solid #000000;
  background: #515a70;
  align-self: center;
  justify-self: center;
  margin: 100px auto 0 auto;
  font: 35px Segoe UI light;
  color: #000000d1;
  user-select: none;
}

.row {
  display: flex;
}
.row:nth-of-type(3n) .cell {
  border-bottom: 2px solid #1b1c1f;
}
.row:last-of-type .cell {
  border-bottom: none;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background: #9a9dab;
  box-sizing: border-box;
  border-right: 1px solid #2e2e2e;
  border-bottom: 1px solid #2e2e2e;
}
.cell:nth-of-type(3n) {
  border-right: 2px solid #1b1c1f;
}
.cell:last-of-type {
  border-right: none;
}

.--active {
  background: #abaebd;
}

.--adjacent {
  background: #81889f;
}

[input] {
  color: #c0e2ff;
}

.--similar {
  background: #7587a1;
}

#controlPanel {
  margin: auto;
  background: #555d6c;
  padding: 20px;
  border: 1px solid #161616;
  border-radius: 5px;
  font: 22px Arial;
  color: #242222;
}

.button {
  padding: 10px;
  background: #9191a1;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #424242;
}
.button:hover {
  background: #aeaec9;
}